<div class="mx-auto mt-3 py-3" style="width: 600px;">
<h1>Profil Utilisateur</h1>
</div>

<div class="mx-auto py-3" style="width: 600px;">
<table class="table">
  <tbody>
    <tr>
      <th scope="row">Prénom</th>
      <td><%= @user.first_name %></td>
    </tr>
    <tr>
      <th scope="row">Nom</th>
      <td><%= @user.last_name %></td>
    </tr>
    <tr>
      <th scope="row">Description</th>
      <td><%= @user.description %></td>
    </tr>
     <tr>
      <th scope="row">Mail</th>
      <td><%= @user.email %></td>
    </tr>
     <tr>
      <th scope="row">Age</th>
      <td><%= @user.age %></td>
    </tr>
     <tr>
      <th scope="row">Ville</th>
      <td><%= link_to "#{@user.city.name}", city_path(@user.city.id) %></td><td>
    </tr>
  </tbody>
</table>
</div>