<div class="mx-auto mt-3 py-3" style="width: 600px;">
<h1>Gossip</h1>
</div>

<div class="mx-auto py-3" style="width: 600px;">
<table class="table">
  <tbody>
    <tr>
      <th scope="row">Gossip</th>
      <td><%= @gossip.title %></td>
    </tr>
    <tr>
      <th scope="row">Auteur</th>
      <td><%= link_to "#{@gossip.user.first_name}", user_path(@gossip.user.id) %></td>
    </tr>
    <tr>
      <th scope="row">Description</th>
      <td><%= @gossip.content %></td>
    </tr>

    <tr>
      <th scope="row">Ville</th>
      <td><%= link_to "#{@gossip.user.city.name}", city_path(@gossip.user.city.id) %> </td>
    </tr>
    
    <tr>
      <button type="button" class="btn mb-3 btn-md btn-info"><%= @gossip.likes.count %> 💙 </button>
    </tr>

  </tbody>
</table>



  <% if logged_in? && my_gossip? %>
  <div class="form-group">
        <button type="button" class="btn"><%= link_to "Modifier le Secret", edit_gossip_path, class: "btn
        btn-md btn-primary" %></button>

        <a href="<%= gossip_path(@gossip.id) %>" class="btn btn-danger" data-method="DELETE">Supprimer le secret</a>
  </div>
  <% end %>
</div>

<%= render partial: 'comments/form' %>

<div class="container col-md-8 order-md-1">
<h3>Comments (<%= @gossip.comments.count %>)</h3>
<div><%= render partial: 'gossips/comment', collection: @gossip.comments.reverse %></div>
</div>